<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<title>Insert title here</title>
</head>
<body>
	<h1>회원가입</h1> <hr>
	
	<form id="joinForm" method="post">
		아이디 <input type="text" id="memberID" name="memberID"> <br>
		비밀번호 <input type="text" id="memberPW" name="memberPW"> <br>
		닉네임 <input type="text" id="memberNickname" name="memberNickname"> <br>
		<input type="button" id="join" value="가입하기">
	</form>
	
	<script>
	$("#join").click(function(){
		
		var form = $("#joinForm").serialize();
		
		$.ajax({
			url : "/member/joinus",
			type : "post",
			data : form,
			success : function(data) {
				alert('가입을 축하드립니다!');
				location.href='/board/list';
			}
		});

		alert(form);
	});
	</script>
</body>
</html>